<ion-card class="mainCard" lines="none">
  <ion-card-content >
    <ion-list class="mainList">
      <ion-card class="secondaryCard">
        <ion-card-header>
          <ion-card-title>{{ team!.attributes!.title }}</ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <app-team-comp
              *ngFor="let pokemon of pokemonList"
              [receptor]="pokemon"
            >
            </app-team-comp>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ion-card-content>
</ion-card>
