ion-item{
    width: 120%;
    height:fit-content;
    display: flex;
    
}
    ion-label {
        display: flex !important;
        justify-content: center !important; 
        align-items: center !important; 
        
    }