ion-content{
    --padding-top: 54px;
}
.search-bar{
    background-color: rgba(0, 0, 0, 0.526);
    width: 33%;
    text-align: center;
    height: 100%;
    margin-top: 1%;
}
.CrudButtons{
    display: inline-flex;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    height: 45px;
    margin-top:5%
}
.button{
    width: 40%;
    height: 100%;
    --background: rgb(0, 0, 0);
}
app-pokemon-team{
    width: calc(50% - 30%);
    justify-content: center !important; 
    align-items: center !important; 
}
.Bloques{
    columns: 2;
}

@media screen and (max-width: 1200px) {
    .CrudButtons{
        margin-top:0%;
    }
}