<ion-content [fullscreen]="true" class="ion-padding">
  <div id="container">
    <ion-card appSombra>
      <ion-img
        class="pokeball"
        alt="Silhouette of mountains"
        src="../../../assets/pokeball.png"
      />
      <ion-card-header class="ion-text-center">
        <ion-card-title> Name: {{pokemon!.attributes.name}} </ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-text-center">
        <ion-item class="ion-text-center" lines="none">
          <ion-label fill="clear"> BST: {{pokemon!.attributes.bst}} </ion-label>
        </ion-item>
      </ion-card-content>
      <ion-button fill="clear" (click)="onRandomClicked()">
        {{"home.randomize" | translate}}
      </ion-button>
    </ion-card>
  </div>
</ion-content>
