#container{
    background-color: rgb(254, 162, 112);
    width: 100%;
    height: 100%;
}
ion-card{
    width: 400px;
    height: 500px;
    top:10%;
    left:34%;
}
ion-button{
  left: 5%;
  --color:white;
}