<ion-content [fullscreen]="true">
  <div class="CrudButtons">
    <ion-button class="button" (click)="onPlusClicked()" expand="full"
      ><ion-icon name="add-outline"></ion-icon>
    </ion-button>
    <ion-button class="button" expand="full" (click)="onMinusClicked()">
      <ion-icon name="remove-outline"></ion-icon>
    </ion-button>
  </div>
  <ion-grid>
    <ion-col size="12">
      <app-pokemon-item
        *ngFor="let pokemon of pokemons"
        [pokemon]="pokemon"
        (onPokemonClicked)="onPokemonClicked(pokemon)"
      >
      </app-pokemon-item>
    </ion-col>
  </ion-grid>
</ion-content>
