<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Create a new Pokemon</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-input class="texto" labelPlacement="stacked" label="name"  placeholder="Your pokemon name" inputmode="text"></ion-input>
    <ion-input labelPlacement="stacked" label="hp"  placeholder="Your pokemon hp" inputmode="numeric"></ion-input>
    <ion-input labelPlacement="stacked" label="atk"  placeholder="Your pokemon atk"  inputmode="numeric"></ion-input>
    <ion-input labelPlacement="stacked" label="def"  placeholder="Your pokemon def"  inputmode="numeric"></ion-input>
    <ion-input labelPlacement="stacked" label="speAtk"  placeholder="Your pokemon speAtk" inputmode="numeric"></ion-input>
    <ion-input labelPlacement="stacked" label="speDef"  placeholder="Your pokemon speDef" inputmode="numeric"></ion-input>
    <ion-input labelPlacement="stacked" label="speed"  placeholder="Your pokemon speed" inputmode="numeric"></ion-input>
  </ion-item>
</ion-content>