<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title *ngIf="mode != 'View'">Create a new Pokemon</ion-title>
    <ion-buttons slot="end" >
      <ion-button (click)="confirm()" [strong]="true">{{ mode !== 'View' ? 'Confirm' : 'Remove from team' }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="confirm()">
    <ion-item>
      <ion-input
        class="texto"
        formControlName="name"
        labelPlacement="stacked"
        label="name"
        placeholder="Nombre de tu pokemon"
        type="text"
        [readonly]="mode == 'View'"
      ></ion-input>
      <ion-input
        formControlName="hp"
        labelPlacement="stacked"
        label="hp"
        placeholder="Hp de tu pokemon"
        type="number"
        [readonly]="mode == 'View'"
      ></ion-input>
      <ion-input
        formControlName="atk"
        labelPlacement="stacked"
        label="atk"
        placeholder="Atk de tu pokemon"
        type="number"
        [readonly]="mode == 'View'"
      ></ion-input>
      <ion-input
        formControlName="def"
        labelPlacement="stacked"
        label="def"
        placeholder="Def de tu pokemon"
        type="number"
        [readonly]="mode == 'View'"
      ></ion-input>
      <ion-input
        formControlName="speAtk"
        labelPlacement="stacked"
        label="speAtk"
        placeholder="AtkEsp de tu pokemon"
        type="number"
        [readonly]="mode == 'View'"
      ></ion-input>
      <ion-input
        formControlName="speDef"
        labelPlacement="stacked"
        label="speDef"
        placeholder="DefEsp de tu pokemon"
        type="number"
        [readonly]="mode == 'View'"
      ></ion-input>
      <ion-input
        formControlName="speed"
        labelPlacement="stacked"
        label="speed"
        placeholder="Velocidad de tu pokemon"
        type="number"
        [readonly]="mode == 'View'"
      ></ion-input>
    </ion-item>
    
  </form>
</ion-content>
