<ion-content class="ion-padding" [fullscreen]="true">
      <ion-header>
        <ion-toolbar>
          <ion-title>Select a pokemon</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cancel()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <app-pokemon-item
            *ngFor = "let pokemons of list"
            [pokemon] = "pokemons"
            (onPokemonClicked) = "onPokemonSelected(pokemons)"
        ></app-pokemon-item>
      </ion-content>
  </ion-content>